* {
    margin:0;
    padding:0;
}

body {
    background:#b4b4b4;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100%;
    overflow: hidden;
}

#container {
    border: 0px solid white;
    width: 80%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#canvas {
    background: gray;
}