@font-face {
    font-family: 'Minecraft';
    src: url('Minecraft.ttf') format('truetype');
}

* {
    margin:0;
    padding:0;
}

body {
    background:#b4b4b4;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100%;
    overflow: hidden;
}

#score {
    display:none;
    font-family: 'Minecraft', monospace;
    font-weight: bolder;
    font-size: 50px;
    margin-bottom: 10px;
    color: black;
    transition: transform 0.1s ease-out;
    user-select: none;
    padding: 10px 10px 0px 10px;
    margin-bottom: 10px;
    border-bottom: 5px dashed black;
}

#score.bulge {
    animation: bulge 0.3s ease-out;
}

@keyframes bulge {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(2);
    }
    100% {
        transform: scale(1);
    }
}

#container {
    border: 0px solid white;
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#canvas {
    background: gray;
    
}